html,
body {
    height: 100%;
    margin: 0;
}

/* home page container */

.container {
    background-image: url(./images/joanna-kosinska-hand.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    margin: 0px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a . b" ". . ." "c c c"
}

/* sub-header home page */

.sub-header {
    grid-area: a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.sub-header h2 {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #f65a4c;
    text-shadow: 4px 4px 0 #00a0f0;
    letter-spacing: 1em;
}

.sub-header2 {
    grid-area: b;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* contact buttons */

.social-btn {
    padding: 10px;
}

.nav-btn {
    grid-area: c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
    margin-top: -15%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

/* nav buttons */

.about-btn {
    background: #d4ef40;
}

.resume-btn {
    background: #f65a4c;
}

.portfolio-btn {
    background: #00a0f0;
}

.contact-btn {
    background: #695bb4;
}

/* header-home page */

.header {
    font-family: 'Monteserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 35px;
    display: flex;
    flex-direction: column;
}

.text {
    position: absolute;
    width: 450px;
    left: 50%;
    margin-left: -200px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 220px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #695bb4;
}

.belize {
    color: #d4ef40;
}

.pomegranate {
    color: #00a0f0;
}

.green {
    color: #16a085;
}

.midnight {
    color: #f65a4c;
}

/* one page scrolling setup */

#home {
    height: 1000px;
}

#page1 {
    height: 1000px;
}

#page2 {
    height: 1000px;
}

#page3 {
    height: 1000px;
}

#page4 {
    height: 1000px;
}

/* about page */

.about {
    background-color: #F8F8FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2em;
    grid-template-areas: "a b b" "e . .";
    margin: 0;
    padding: 10px;
}

.about1 {
    grid-area: a;
}

.about1 h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    color: #28292A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
}

.about2 {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin: 15px;
}

.about2 p {
    font-family: 'Quicksand', sans-serif;
    color: #28292A;
    font-size: 17px;
    letter-spacing: 0.1em;
    /* line-height: 32px; */
}

.about2 h2 {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #00a0f0;
    font-size: 32px;
    letter-spacing: 0.1em;
}



.about4 {
    grid-area: d;
}

.about3 {
    grid-area: e;
    font-family: 'Quicksand', sans-serif;
    
}

.about3 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
}

hr {
    border: #00a0f0 thin solid;
    
}



.right,
.sub-header2 {
    justify-content: flex-end;
}

/* resume page */

.resume {
    background-color: #00a0f0;
}

/* contact page */

.contact {
    background-color: #695bb4;
}

/* portfolio page */

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a a a" "b c d" "e f g";
}

.portfolio1 {
    grid-area: a;
    border: black solid 5px;
}

.portfolio1 .sub-header2 {
    margin-top: -10%;
}

.portfolio2 {
    grid-area: b;
    border: black solid 5px;
}

.portfolio3 {
    grid-area: c;
    border: black solid 5px;
}

.portfolio4 {
    grid-area: d;
    border: black solid 5px;
}

.portfolio5 {
    grid-area: e;
    border: black solid 5px;
}

.portfolio6 {
    grid-area: f;
    border: black solid 5px;
}

.portfolio7 {
    grid-area: g;
    border: black solid 5px;
}