/* about page */

.about {
    /* background-color: #F8F8FF; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "c c c" "a b b""f e e";
    margin: 1em;
    padding: 1em;
}

.about0{
    grid-area: c;
    height: 20px;
}

.about1 {
    grid-area: a;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: #28292A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 45%; */
    text-decoration: none;
    list-style: none;
}

.about2 {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin: 15px;
}

.about2 p {
    font-family: 'Quicksand', sans-serif;
    color: #28292A;
    font-size: 17px;
    letter-spacing: 0.1em;
    /* line-height: 32px; */
}

.about2 h2 {
    font-family: 'Quicksand', sans-serif;
    color: #00a0f0;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about4 {
    grid-area: d;
}

.about3 {
    grid-area: e;
    font-family: 'Quicksand', sans-serif;
    /* border: black solid 5px; */
}

.about3 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.about4 {
    grid-area: f;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subheader {
    color: #00a0f0;
}

hr {
    border: #00a0f0 thin solid;
}

.right,
.sub-header2 {
    justify-content: flex-end;
}


