.container {
    background-color: #f2f2f2;
    width: 100%;
    height: 1000px;
}
.center{
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.bold {
    font-weight: bold;
}


.small > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    line-height: 22px;
}

.caption {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

 .grey {
    color: #a9abb3;
}

.dark{
    color: #28292A;

}

.soft-top--double {
    padding-top: 80px;
}

.soft-bottom {
    padding-bottom: 40px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 55px;
    font-size: 40px;
}

.intro-txt{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}
.content-medium {
    width: 80%;
    max-width: 650px;
}

a{
    text-decoration-style: dotted;
    cursor: pointer;
    color: #28292A;
}
.text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 35px;
    position: absolute;
    width: 450px;
    left: 50%;
    margin-left: -130px;
    height: 40px;
    top: 50%;
    /* margin-top: -20px; */
}

.i-am{
    position: relative;
    margin-top: -35%;
    /* margin-left: 20px; */
}

.descript{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 220px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #695bb4;
}

.belize {
    color: #d4ef40;
}

.pomegranate {
    color: #00a0f0;
}

.green {
    color: #16a085;
}

.midnight {
    color: #f65a4c;
}