html,
body {
    height: 100%;
    margin: 0;
}

/* Top nav bar */

ul {
    list-style-type: none;
}

nav a {
    display: block;
    float: left;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #7e7e7e;
    font-family: 'Quicksand', sans-serif;
}

/* contact buttons */

.social-btn {
    padding: 10px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    transition: .4s;
    margin-top: -15%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}






/* one page scrolling setup */



#page2{
    height: 1000px;
}

#page3 {
    height: 1000px;
}





/* contact page */

.contact {
    background-color: #695bb4;
}

