/* portfolio page */

.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a a"
                         "b c"
                         "e f";
    margin: 10px;
}

.portfolio1 {
    grid-area: a;
    /* border: black solid 5px; */
}

.portfolio1 .sub-header2 {
    margin-top: -10%;
}

.flex-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.port-btn{
    width: 200px;
    height: 200px;
}

.portfolio2 {
    grid-area: b;
    height: 100%;
    width: 100%;
}


.portfolio3 {
    grid-area: c;
    height: 100%;

}

.portfolio5 {
    grid-area: e;
    height: 100%;

}

.portfolio6 {
    grid-area: f;
    height: 100%;

}

