.port-header{
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: 0.5em;
    color:#00a0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portfolio{
     font-family: 'Quicksand',sans-serif;
}

.port-content{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
}

.sub-head{
    text-transform: lowercase;
    font-size: 0.5em;
}

.none {
    text-decoration-style: none;
    text-decoration: none;
}